#navbar{
  background-color: red;
}

#regpizza{
  padding-top: 30px;
}

#sicpizza{
  padding-top: 30px;
}

.card-title{
  padding-left: 50px;
  padding-right: 50px;
}

h3 a{
    color: black;
}
h1{
  padding-left: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
}

#login{
  padding-left: 45%;
}

#loginform{
  padding-left: 30px;
  color: black;
}

.logindiv{
  width: 100%;
  background-color: green;
  color: black;
}

.choice{
  padding-left: 20%;
  padding-top: 50px;
}

.a{
  padding-left: 45%;
  display: flex;
  flex-direction: row;
}
.a h5 a{
  color: black;
  padding-left: 10px;
}

#cart{
  padding-left: 30px;
}

.items{
  padding-left: 30px;
}

.items ul{
  list-style: none;
}

.items ul li{
  list-style: none;
  font-size: 20px;
  color: black;
}
#status{
  padding-left: 35%;
  padding-top: 30%;
  padding-bottom: 50%;
}

.cartdiv{
  background-color: green;
  width: 100%;
  color: black;
}

.bottom{
  padding-left: 30px;
  background-color: red;
  padding-bottom: 10px;
  padding-top: 8px;
}
.bottom h4 a{
  color: black;
}
#thanks{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.status{
  height: 100%;
  width: 100%;
  background-color: green;
  color: black;
}
