{% extends "orders/base.html" %}
{% block body %}
  <h2>Thanks for ordering from Pinocchio's Pizza & Subs</h2>
  <h3>Order Summary</h3>
  <h4>Total: {{price}}</h4>
  <h4>Items:</h4>
  <ul>
    {% for za in pizzas %}
    <li>{{za}}</li>
    {% endfor %}
    {% for za in salads %}
    <li>{{za}}</li>
    {% endfor %}
    {% for za in pastas %}
    <li>{{za}}</li>
    {% endfor %}
    {% for za in platters %}
    <li>{{za}}</li>
    {% endfor %}
    {% for za in subs %}
    <li>{{za}}</li>
    {% endfor %}
  </ul>
{% endblock %}
