{% extends "orders/base.html" %}
{% block body %}
<div class="cartdiv">
  <h2 id="thanks">Thanks for ordering from Pinocchio's Pizza & Subs</h2>
</div>

  <div class="items">
    <h3>Order Summary</h3>
    <h4>Order Number: #{{placeorder.id}}</h4>
    <h4>Total: {{price}}</h4>
    <h4>Items:</h4>
    <ul>
      {% for za in pizzas %}
      <li>{{za}}</li>
      {% endfor %}
      {% for za in salads %}
      <li>{{za}}</li>
      {% endfor %}
      {% for za in pastas %}
      <li>{{za}}</li>
      {% endfor %}
      {% for za in platters %}
      <li>{{za}}</li>
      {% endfor %}
      {% for za in subs %}
      <li>{{za}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="bottom">
        <h4><a href="{% url 'orderstatus' %}">Check Order Status</a></h4>
  </div>

{% endblock %}
