{% extends "orders/base.html" %}
{% block body %}
    <form class="signup" action="{% url 'signUp' %}" method="post">
      {% csrf_token %}
      <label>Username</label>
      <input type="text" name="username"><br>
      <label>Password</label>
      <input type="password" name="password"><br>
      <label>Email</label>
      <input type="email" name="email"><br>
      <label>First Name</label>
      <input type="text" name="firstName"><br>
      <label>Last Name</label>
      <input type="text" name="lastName"><br>
      <input type="submit" name="submit">
    </form>
    {{ message }}
{% endblock %}
